

*{/*Aca hago un reseteo para que se vea igual en todos los navegadores.
    lo que hace en inicializar la pagina toda en 0 y a lo largo del progrmaa se va modificando*/
    margin:0;/*Saca el margen entre un parrafo y otro*/
    padding: 0; /*Saca lo espacio con el margen izquiero, donde irian las viñetas*/

}


body/*Aca centro la imagen*/
{
    margin: auto;
    width: 240px;
    padding: 240px;
    
    background-color: #030711;
    
    
}


table/*Le pongo borde y color a la tabla*/
{
    
    border: 1px solid #030711;
    background-color: aqua;/*Background para darle color al fondo*/
    background-image: url(../img/candado.png);
    background-position: center;/*Ubico la imagen en el centro*/
    background-size: cover;/*Abarca todo el fondo*/

}

input [type=txt], input[type=password]
{
    width: 100%;/*ancho*/
    
    border: 2px solidcolor #8d1616;
    box-sizing: border-box;
}
/*Modidicamos la el label*/
label
{
    font-size: 14px;
    font-weight: bold;
    font-family: arial;
}
/*Aca modificamos la imagen*/
img
{
    width: 100px;
    height: 100px;
    
}
.logo img{
    width: 1000px;
    height: 1000px;
}

/*Le doy un estilo al boton enviar*/
input[type=submit]
{
    background-color:#1c94c8;
    color: rgb(236, 236, 236);
    padding: 8px 10px;
    margin: 8px 0px;
    border: solid;
    cursor: pointer;
    width: 40%;
}
